apiVersion: apps/v1
kind: Deployment
metadata:
  name: sccb-circuit-breaker
  labels:
    app: sccb-circuit-breaker
    poc: circuit-breaker-spring-cloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sccb-circuit-breaker
  template:
    metadata:
      labels:
        app: sccb-circuit-breaker
    spec:
      containers:
        - name: app
          image: sccb-circuit-breaker:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: "1"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
